:root {
    --nasa-blue: #0B3D91;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

.container {
    background: linear-gradient(128deg, rgba(97,92,240,0.8323704481792717) 0%, rgba(207,99,153,1) 100%);
    min-height: 90vh;
    max-height: max-content;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(39, 39, 39);
    height: 10vh;
    padding: 0 100px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
height: 50px;
}

.logo h1 {
    font-family: 'Bungee', cursive;
    color: #eee;
}
header .busca {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .busca p {
    color: #bebebe;
    font-weight: 500;
    font-size: 11px;
    font-style: italic;
    margin-top: 3px;
}
header .busca > div {
    display: flex;
}

header .busca input, header .busca button {
    height: 35px;
    border: none;
    font-weight: 600;
    text-align: center;
    outline: none;
}

header .busca input {
    border-radius: 5px 0 0 5px;
}

header .busca button {
    background-color: #1861e0;
    border-radius: 0 5px 5px 0;
    padding: 0 15px;
    cursor: pointer;
    transition: .3s ease background-color;
}

header .busca button:hover {
    background-color: var(--nasa-blue);
}

header .busca input:focus {
    border-bottom: 2px solid rgb(35, 127, 231);
    filter: brightness(100%);
}

.container h1 {
    font-size: 24px;
    margin: 15px 0 5px 0;
    color: #fafafa;
    text-shadow: 2px 2px 5px rgba(0,0,0,.6);
}

.container h2 {
    font-size: 16px;
    font-weight: 600;
    color: #fafafa;
    margin-bottom: 10px;
    text-shadow: 1px 2px 3px rgba(0,0,0,.6);
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.img-apod {
    width: 650px;
}